<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color:rgb(221, 53, 23);
            text-align: center;
            background-color:whitesmoke;
        }
        h2{
            padding-top: 50px;
            font-size: 50px;
        }
    </style>
</head>
<body>
   <h2>We are closed!</h2> 
   <h1>Timetable  :</h1>
<ul>
<li>Monday	09: 00-17: 00</li>
<li>Tuesday	09: 00-17: 00</li>
<li>Wednesday	09: 00-17: 00</li>
<li>Thursday	09: 00-17: 00</li>
<li>Friday	09: 00-17: 00</li>
<li>Saturday	Closed</li>
<li>Sunday	Closed</li>
</ul>
</body>
</html>