<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        h1{
            padding-top: 30px;
            color: rgb(172, 55, 55);
            text-align: center;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <h1>Contact Us</h1>
    

    <div class="inside-container" style="margin-right: auto;margin-left: auto;">
				<div class="contact">
													
		<div id="slide-contact" class="yjsgaccChrome">
	<div class="yjsgaccGroup">
		<div class="yjsgaccTrigger">
			<a href="#basic-details">
				<strong style="padding-left: 15px; padding-right: 15px">Contact</strong>
			</a>
		</div>
		<div class="yjsgaccContent" id="basic-details" style="display: none;">
										<div class="contact-address">
			<span class="jicons-icons">
			<img src="/media/contacts/images/con_address.png" alt="Address: ">		</span>
		<address>
				<span class="contact-street">
			Rue de la bourse, Lac 2		</span>
				<span class="contact-suburb">
			Tunis		</span>
					<span class="contact-postcode">
			1053		</span>
				<span class="contact-country">
			Tunisia		</span>
	
	</address>
	</div>

	<div class="contact-contact info">

	<p>
		<span class="jicons-icons">
			<img src="/media/contacts/images/con_mobile.png" alt="Mobile: ">		</span>
		<span class="contact-mobile">
			(+216) 92 99 87 59		</span>
	</p>
	<p>
		<span class="jicons-icons">
		</span>
		<span class="contact-webpage">
			<a href="http://www.vifco.co" target="_blank">
			http://www.vifco.co</a>
		</span>
	</p>
	</div>
					</div>
	</div>
		<div class="yjsgaccGroup">
		<div class="yjsgaccTrigger">
			<a href="#display-form">
				<strong style="padding-left: 15px; padding-right: 15px">Contact Form</strong>
			</a>
		</div>
		<div class="yjsgaccContent" id="display-form" style="display: none;">
			<div class="contact-form">
	<form id="contact-form" action="/index.php/en/contact-us.html" method="post" class="yjsg-form form-validate">
		<fieldset class="yjsg-form-fieldset">
			<legend>Send an Email. All fields with an asterisk (*) are required.</legend>
			<div class="yjsg-form-group">
				<label id="jform_contact_name-lbl" for="jform_contact_name" class="hasPopover required" data-content="Your name." data-original-title="Name">
	Name<span class="star">&nbsp;*</span></label>
				<div class="yjsg-element-holder">
					<input type="text" name="jform[contact_name]" id="jform_contact_name" value="" class="yjsg-form-element required" size="40" required="required" aria-required="true">
				</div>
			</div>
			<div class="yjsg-form-group">
				<label id="jform_contact_email-lbl" for="jform_contact_email" class="hasPopover required" data-content="Email Address for contact." data-original-title="Email">
	Email<span class="star">&nbsp;*</span></label>
				<div class="yjsg-element-holder">
					<input type="email" name="jform[contact_email]" class="validate-email yjsg-form-element required" id="jform_contact_email" value="" size="40" required="required" aria-required="true">				</div>
			</div>
			<div class="yjsg-form-group">
				<label id="jform_contact_emailmsg-lbl" for="jform_contact_emailmsg" class="hasPopover required" data-content="Enter the subject of your message here." data-original-title="Subject">
	Subject<span class="star">&nbsp;*</span></label>
				<div class="yjsg-element-holder">
					<input type="text" name="jform[contact_subject]" id="jform_contact_emailmsg" value="" class="yjsg-form-element required" size="50" required="required" aria-required="true">
				</div>
			</div>
			<div class="yjsg-form-group">
				<label id="jform_contact_message-lbl" for="jform_contact_message" class="hasPopover required" data-content="Enter your message here." data-original-title="Message">
	Message<span class="star">&nbsp;*</span></label>
				<div class="yjsg-element-holder">
					<textarea name="jform[contact_message]" id="jform_contact_message" cols="60" rows="10" class="yjsg-form-element required" required="required" aria-required="true"></textarea>				</div>
			</div>
							<div class="yjsg-form-group-inline">
						<input type="checkbox" name="jform[contact_email_copy]" id="jform_contact_email_copy" value="1">					<div class="yjsg-element-holder">
						<label id="jform_contact_email_copy-lbl" for="jform_contact_email_copy" class="hasPopover" data-content="Sends a copy of the message to the address you have supplied." data-original-title="Send a copy to yourself">
	Send a copy to yourself</label>
					</div>
				</div>
																																				<div class="yjsg-form-group">
															<label id="jform_captcha-lbl" for="jform_captcha" class="hasPopover required" data-content="Please complete the security check." data-original-title="Captcha">
	Captcha<span class="star">&nbsp;*</span></label>
																	<div class="yjsg-element-holder"><div id="jform_captcha" class=" required g-recaptcha" data-sitekey="6LfFKIMUAAAAAJ-ekjY9mCBiNvV4B_ZaHhvB2cvc" data-theme="light" data-size="normal" data-tabindex="0" data-callback="" data-expired-callback="" data-error-callback="" data-recaptcha-widget-id="0"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfFKIMUAAAAAJ-ekjY9mCBiNvV4B_ZaHhvB2cvc&amp;co=aHR0cDovL3d3dy52aWZjby5jbzo4MA..&amp;hl=en-GB&amp;v=T9w1ROdplctW2nVKvNJYXH8o&amp;theme=light&amp;size=normal&amp;cb=7jh28fo26vn" width="304" height="78" role="presentation" name="a-z5b8c9cle6y1" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div></div>
													</div>
															<div class="yjsg-element-holder"><button class="button validate" type="submit">Send Email</button>
				<input type="hidden" name="option" value="com_contact">
				<input type="hidden" name="task" value="contact.submit">
				<input type="hidden" name="return" value="">
				<input type="hidden" name="id" value="3:admin">
				<input type="hidden" name="a8aaa123e4aa0c6d0a14fb1ffcf01bad" value="1">			</div>
		</fieldset>
	</form>
</div>		</div>
	</div>
						<br><br>
</div></div>
			</div>
    
</body>
</html>