<header class="masthead" style="background-color:rgb(244, 249, 250);color:rgb(172, 55, 55); height:700px;">
            <div class="container">
            <h1 class="yjsg-font-megacolor:black ;font-size: 700%;style:padding-left:400px;padding-top:200px;">VIFCO</h1>

<div class="yjsg-hr-hrsolid;display: block;margin: 20px auto;height: 20px;line-height: 20px;clear: both;text-align: center;vertical-align: top;position: relative;float: none;overflow: hidden;">&nbsp;</div>


                <div class="masthead-subheading;style:font-size:500%, padding-left:300px;padding-top:400px;">Visionary Investment Finance Company</div>
                <div class="masthead-subheading;style:font-size:480%, padding-left:200px;padding-top:600px">"TAKE YOUR INVESTMENTS TO THE VISIONARY ATTITUDE..."</div>
                
            </div>
        </header>
