<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        body{
            background-color::rgb(244, 249, 250);;
            color:black;
            text-align: center;
        }
        h1{
            padding-top: 30px;
            font-size: 50px;
            color:rgb(172, 55, 55);
        }
    </style>
</head>
<body >
<h1>Our Services</h1>

<div class="extrapos1_out;display: block;
    overflow: hidden;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;">
            <div class="extrapos1 yjsgsitew">

<p><span class="dropcap;">I</span><span lang="en">nternational consulting firm in finance, investments and mega projects.&nbsp;VIFCO provides&nbsp;expertise, feasibility studies, financial models, investment strategies and financial planning to international investors and entrepreneurs in&nbsp;different sectors, infrastructure projects, Energy Utilities, sustainable development , renewable energy and new technologies.<br><br>Vifco is also providing advisory services related to private equity transactions, Merger and Aquisition deals and expertise in Capital structure, valuation reports, term sheets negotiation, financial structure, alternative financing for large scale projects, startups&nbsp;and SMEs especially in fundraising strategies and strategic partnerships. </span></p>
<p><span lang="en">We provide also high end expertise on PPP : Public / Private Partnerships projects for both public and private sector sides.</span></p>
<p><span lang="en"><br> Vifco team&nbsp;cumulates several decades experience&nbsp;in International Finance, Risk Management, Investor Relations, Public relations, investment strategy and assistance for rising companies and emerging governments.</span></p>
<p><span lang="en">We already conducted successfull feasibility studies and advisory assistance in multiple cases like: tidal lagoon projects, solar power plants, desalination plants, tax&nbsp; traceability collection utilities, agrilculture and farming business, crusing terminal, marina ports, biofuels plantations and power plant, biomass power plant (wood waste and olive pomace residues). Vifco also is proud to contribute in the success of several startups: Saas startups, EdTech, FinTech and innovative businesses.</span></p>
<p><span lang="en">VIFCO have been buiding strong network and successfull track-record in several countries like: US, Chile, France, Switzerland, Tunisia, Morocco, Indonesia, Nigeria, Spain, India and Belgium.</span></p>
<p>&nbsp;</p></div></div><div class="yjsquare tcounter modid126"><div class="yjsquare_in"><div class="yjsg-row">
<div class="yjsg-col-1-5"><span id="icons8-conference" class="icons8-conference"></span>
<h4 class="counter">3156 Investors Network</h4>
</div>
<div class="yjsg-col-1-5"><span id="icons8-box" class="icons8-box"></span>
<h4 class="counter">560 Startups Network</h4>
</div>
<div class="yjsg-col-1-5"><span id="icons8-puzzle" class="icons8-puzzle"></span>
<h4 class="counter">568 Fundraising Deals</h4>
</div>
<div class="yjsg-col-1-5"><span id="icons8-template" class="icons8-template"></span>
<h4 class="counter">32 Mega Projects</h4>
</div>
<div class="yjsg-col-1-5"><span id="icons8-download" class="icons8-download"></span>
<h4 class="counter">2330650000 $ Projects Portfolio</h4>
</div>
<p>Organizations are looking for their CFOs and finance executives to advise on business strategy in ways that drive the enterprise to create and capture more value and leverage analytics. We work with CFOs to gather, interpret, and deliver the insights that shape timely and smart decisions. We can help you build a finely balanced set of innovative capabilities across strategy, operations, analytics, performance management, talent and reporting.</p></div></div><div class="yjsquare modid149"><div class="yjsquare_in"><h3>Public Private Partnership</h3>
<p>Through in-depth understanding of the complexities involved in transactions, financing and policy at the public-private interface, we provide efficient consulting services. We provide consultation in various aspects within the PPP framework, ranging from raising funds for infrastructure projects to procuring private sector partners for our public sector clients. Through raising funding for infrastructure projects and procuring private sector partners for our public sector clients, we deliver solutions that fund new roads, upgrade housing, build schools, modernise hospitals, improve rail services, and regenerate communities. Our experience and local knowledge enable us to deliver the integrated strategies and services our clients require. We help governments to shape their policy, develope frameworks and implement PPPs, industry by industry. We reconcile investors' need for profit with the requirements of Government for political and financial transparency. We engineer a competitive bidding process. We help private sector bidders to develop structures that allow them to access local and international funds.</p></div></div>
            </div>
        </div>

</html>